################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################
.vs #
/.vs/Lesson_2/v16/Browse.VC.opendb
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Lesson_2/v16/Browse.VC.db-wal
/.vs/Lesson_2/v16/Browse.VC.db-shm
/.vs/Lesson_2/v16/Browse.VC.db
/CppProperties.json
/ALG_Lesson_2.vcxproj.user
/ALG_Lesson_2.vcxproj.filters
/ALG_Lesson_2.sln
/ALG_Lesson_2.vcxproj
/x64/Release
/Debug
/.vs/ALG_Lesson_2/v16
